* {
  font-family: "Montserrat", serif;
}
header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
}
li {
  display: inline;
  margin: 50px;
}
h1 {
  font-size: 40px;
  margin: 20px;
}
h1,
h2 {
  font-family: Sofia, sans-serif;
}
p,
a {
  font-family: "Trebuchet MS", sans-serif;
}

li {
  display: inline;
  margin: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: grey;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.disappearing {
  display: flex;
}
#copyright,
.mobileFeature {
  margin: 20px;
  font-size: 10px;
}
.mobileFeature {
  display: none;
}
@media (max-width: 500px) {
  li {
    display: inline;
    margin: 20px;
  }
  .mobileFeature {
    display: flex;
  }
  .disappearing {
    display: none;
  }
}
